/* Spotlight window specific styles */
:root,
html,
body,
#root,
[class*='cds--theme-'],
.app-container {
  background: #161616 !important;
  background-color: #161616 !important;
  color: #f4f4f4 !important;
}

#root {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
}
