name: CI

on:
  pull_request:
    branches:
      - main
    paths:
      - "**.go"
      - "go.mod"
      - "go.sum"
      - "**.js"
      - "**.jsx"
      - "**.ts"
      - "**.tsx"
      - "package.json"
      - "bun.lockb"

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.0"
          check-latest: true

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.1-dev
      - name: Run Go Tests
        env:
          GOTOOLCHAIN: local
        run: go test ./internal/... -v -race -coverprofile=coverage.out

      - name: Generate Coverage Report
        run: |
          go install github.com/jandelgado/gcov2lcov@latest
          gcov2lcov -infile=coverage.out -outfile=coverage.lcov

      - name: Post Coverage Report to PR
        if: github.event_name == 'pull_request'
        uses: romeovs/lcov-reporter-action@v0.4.0
        with:
          lcov-file: ./coverage.lcov
          github-token: ${{ secrets.GITHUB_TOKEN }}
          title: "Go Test Coverage Report"
          delete-old-comments: true

      - name: Upload Coverage Report
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: |
            coverage.out
            coverage.lcov

  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.0"
          check-latest: true

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.1-dev
          go install github.com/wailsapp/wails/v3/cmd/wails3@latest
          chmod +x $(go env GOPATH)/bin/wails3
          sudo cp $(go env GOPATH)/bin/wails3 /usr/local/bin/wails

      - name: Build the app
        run: |
          wails generate bindings
          wails build
